<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap-glyphicons/1.0/css/bootstrap-glyphicons.css" />
<link rel="stylesheet" href="/framework/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/framework/common/common.css" />
<link rel="stylesheet" href="/framework/jqueryui/jquery-ui.css" />
<link rel="stylesheet" href="/framework/jquery.fileupload/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="/framework/jquery.fileupload/css/jquery.fileupload.css">
<link rel="stylesheet" href="/framework/jquery.fileupload/css/jquery.fileupload-ui.css">

<script src="/framework/jquery-2.2.2.js" type="text/javascript"></script>
<script src="/framework/jqueryui/jquery-ui.js" type="text/javascript"></script>
<script src="/framework/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/framework/common/common.js" type="text/javascript"></script>