<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>录入信息</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% include ../../include/script.html %>
<style type="text/css">
</style>

<script type="text/javascript">
	$(document).ready(function() {
		$(".view-detail-button").click(function() {
			location.href = "/admin/messages/" + $(this).data("id");
		});
	});
</script>
</head>
<body>
	<% include ../../include/header.html %>

	<div class="container-fluid">
		<div class="videos-container" style="margin: 10px;">
			<%for (var i=0;i<messages.length ;i=i+3){%>
			<div class="row">
				<%for (var j=i;j<i +3&&j<messages.length;j++){%>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail" style="padding: 12px;">
							<a href="/admin/messages/<%=messages[j]._id%>"><%=messages[j].title%></a> 
							<br>
							<span class="label label-primary">创建日期：<%=messages[j].createdDate%></span>
							<span class="label label-success">上传进度:<%=messages[j].countOfUploaded%>/<%=messages[j].countOfParts%></span><br>
							<span class="label label-info">推送日期：
							<%for (var k=0;k<messages[j].publishDates.length;k++){%>
								<%=messages[j].publishDates[k]%>&nbsp;|
							<% } %> 		
							</span>
						</div>
					</div>
					<% } %> 
			</div>
			<%}%> 
		</div>
	</div>

</body>


</html>